<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>VUEJS</title>
</head>

<body>
    <div id="app">
        <div class="container py-5">
            <select class='form-control' v-on:change='mostrarPersonajes' v-model='episodio'>
                <option value="">Elegí un episodio</option>
                <option v-for='episodio in episodios.results' v-bind:value="episodio.id">{{episodio.name}}</option>
            </select>

            <div class="personajes my-5">
                <div class="row">
                    <div class="box col-sm-4 col-12" v-for='personaje in personajes' v-if='personajes.length > 0'>
                        <img class='w-100' v-bind:src="personaje.image" v-bind:alt="personaje.name">
                        {{personaje.name}}
                    </div>
                    <div v-else>
                        Cargando...
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="script.js"></script>
</body>

</html>